.certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.certification-title {
    position: relative;
}

.certification-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.certification-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.certification-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.5s;
    cursor: pointer;
}

.certification-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.certification-card h3 {
    font-size: 28px;
    font-weight: 600;
}

.certification-card h2 {
    font-style: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DA7C25 50%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.certification-card p {
    color: #d4d4d4;
    font-style: 24px;
    line-height: 40px;
    max-width: 300px;
}

.service-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.certification-card:hover {
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.5s;
}

@media (max-width: 768px) {
    .certification {
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }

    .certification-title h1 {
        padding: 0;
        font-size: 50px;
    }

    .certification-title img {
        width: 130px;
        margin-right: -20px;
    }

    .certification-card {
        gap: 20px;
        padding: 32px;
    }

    .certification-card h2 {
        font-size: 28px;
    }

    .certification-card p {
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }

    .service-readmore {
        width: 20px;
    }

    .certification-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}