.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

/* position absolute removes the img from the document  */
.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-section {
    display: flex;
    gap: 80px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skill-info {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.4s;
}